/*
	This css contains:
	* stylings
 */

/* Background color: blue */
body {background-color: #F255D3}

/*
	==================
	== WELCOME PAGE ==
	==================
 */
#welcomePage {
	width: 604px;
	margin: 0 auto;
	margin-top: 100px;
}

#welcomeLogo {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	height: 400px;
	width: 340px;
	float: left;
}

#welcomeLogin {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	margin-left: 10px;
	height: 140px;
	width: 250px;
	float: right;
}


#welcomeSignup {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	height: 248px;
	width: 250px;
	float: right;
	margin-top: 10px;
}


input.textfield {
	float: right;
	margin-right: 5px;
	width: 140px;
	height: 60%;
}

input.error {
	border: 2px solid red;
}


label.labeltext {
	float: left;
	margin-top: 1px;
	margin-left: 5px;
	font-size: 90%;
}


p.signuparea {
	margin-top: -10px;
}
.signuparea2 {
	margin-top: 4px;
}

#gender {
	float: right;
	margin-right: 5px;
	width: 145px;
}


#signinButton {
	float: right;
	margin-right: 5px;
}

#signupButton {
	float: right;
	margin-right: 5px;
	margin-top: -10px;
}

#userpage {
	width:800;
	height:900; 
}

#panel {
	float: left;
	width: 100px;
	background-color: #E8E8E8;
	height: auto;
}
.panelButton {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 90px;
	height: 30px;
}

#profiledisplayarea {
	border: 1px solid #000000;
	position: absolute;
	margin-left: 120px;
	background-color: white;
	height: 600px;
	width: 600px;

}
.profileContent {
	float:left;
	margin-left: 10px;
	margin-top: 10px;
	height: 580px;
	width: 580px;
}


#Home {
	display: none;
	background-color: red;

}

#Browse {
	display: none;
	background-color: red;
}

#Account {
	display: block;
	background-color: green;
}

#logoutButton {
	float: bottom;
	margin-left: 20px;
	width:50px;
	height:50px;
	border-radius:25px;
	font-size:10px;
	color:#fff;
	line-height:10px;
	text-align:center;
	background:#000000;
}

div.userInfoDiv {
	float: left;
	background-color: #00FF00;
	margin-top: 10px;
	margin-left: 10px;
	width: 130px;
	height: 130px;
}
.postMsgDiv {
	float: left;
	background-color: #FF0000;
	margin-left: 10px;
	margin-top: 40px;

}
.msgWallDiv {
	margin-top: 170px;
	margin-left: 50px;
	
	background-color: #FFFFFF;
	width: 470px;
	height: 300px;
	overflow: scroll;
	border: 2px double #000000;
}


p.UserinfoContent {
	font-size: 100%;
	margin-left: 5px;
	margin-top: -30px;
}


#browseHomepage {
	background-color: #FFFFFF;
	margin-top: 40px;
	margin-left: 50px;
	width: 470px;
	height: 300px;
	overflow: scroll;
}


#targetInputDiv {
	width: 100px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
/*
	==================
	==================
 */