/*
	This css contains:
	* stylings
 */

/* Background color: blue */
body {background-color: #0066CC}



/*
	==================
	== WELCOME PAGE ==
	==================
 */
#welcomePage {
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
}

#welcomeLogo {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	height: 400px;
	width: 340px;
	float: left;
}

#welcomeLogin {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	height: 140px;
	width: 250px;
	float: right;
}


#welcomeSignup {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	height: 250px;
	width: 250px;
	float: right;
	margin-top: 10px;
}


input.textfield {
	float: right;
	margin-right: 5px;
	width: 140px;
	height: 60%;
}

label.labeltext {
	float: left;
	margin-top: 1px;
	margin-left: 5px;
	font-size: 90%;
}

p.signuparea {
	margin-top: -10px;
}
.signuparea2 {
	margin-top: 4px;
}

#gender {
	float: right;
	margin-right: 5px;
	width: 145px;
}


#signinButton {
	float: right;
	margin-right: 5px;
}

#signupButton {
	float: right;
	margin-right: 5px;
	margin-top: -10px;
}


/*
	==================
	==================
 */