/*
	This css contains:
	* stylings
 */

/* Background color: blue */
body {background-color: #deedff}

/*
	==================
	== WELCOME PAGE ==
	==================
 */

 
#welcomePage {
	width: 604px;
	margin: 0 auto;
	margin-top: 100px;
}

#welcomeLogo {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	height: 400px;
	width: 340px;
	float: left;
}

#welcomeLogin {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	margin-left: 10px;
	height: 140px;
	width: 250px;
	float: right;
}


#welcomeSignup {
	border: 1px solid #000000; 
	background-color: #FFFFFF;
	height: 248px;
	width: 250px;
	float: right;
	margin-top: 10px;
}


input.textfield {
	float: right;
	margin-right: 5px;
	width: 140px;
	height: 60%;
}

input.error {
	border: 2px solid red;
}


label.labeltext {
	float: left;
	margin-top: 1px;
	margin-left: 5px;
	font-size: 90%;
}


p.signuparea {
	margin-top: -10px;
}
.signuparea2 {
	margin-top: 4px;
}

#gender {
	float: right;
	margin-right: 5px;
	width: 145px;
}


#signinButton {
	float: right;
	margin-right: 5px;
}

#signupButton {
	float: right;
	margin-right: 5px;
	margin-top: -10px;
}

#userpageDiv {
	width:700;
	height:600; 
}


.button {
   border-top: 1px solid #74bbe8;
   background: #86c6f4;
   padding: 5px 10px;
   border-radius: 8px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Arial;
   text-decoration: none;
   vertical-align: middle;
   }

.button:active {
   background: #3a6480;
   }


#panelDiv {
	float: left;
	width: 100px;
	
	height: auto;
}
.panelButton {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 90px;
	height: 30px;
}

#browseareaDiv {
	border-radius: 12px;
	position: absolute;
	margin-left: 120px;
	background-color: white;
	height: 600px;
	width: 600px;

}
.profileContentDiv {
	float:left;
	margin-left: 10px;
	margin-top: 10px;
	height: 580px;
	width: 580px;
	background-color: white;
	border-radius: 12px;
}

div.userInfoDiv {
	position: absolute;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
	height: 120px;
	overflow: auto;
	font-family: Arial;
	color:rgba(0,0,0,0.66);
	border-radius: 12px;
}

.welcomePageMsg {
	background-color:#acc7f7;
	border: 2px solid #815eff;
	border-radius: 10px;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	color: red;
	position: absolute;
	margin-left: 200px;
	margin-top: 420px;
	width: 200px;
	height: 90px;
	display: none;
}
.userPageMsg {
	background-color:#acc7f7;
	border: 2px solid #815eff;
	border-radius: 10px;
	font-family: Arial;
	font-size: 20px;
	color: red;
	text-align: center;
	position: absolute;
	margin-left: 730px;
	margin-top: 10px;
	width: 200px;
	height: 90px;
	display: none;
}



#targetChangeDiv {
	display: none;
	position: absolute;
	overflow: auto;
	height: 25px;
	width: 200px;
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 140px;
	font-family: Arial;
	border-radius: 12px;
}
.postMsgDiv {
	border-radius: 12px;
	border: 1px;
	position: absolute;
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 175px;
	width: 200px;
	height: 395px;
	overflow: scroll;
}
.msgWallDiv {
	color:rgba(0,0,0,0.66);
	margin-top: 10px;
	margin-left: 220px;
	margin-right: 10px;
	position: absolute;
	background-color: #FFFFFF;
	width: 350px;
	height: 560px;
	border-radius: 12px;
}

#msgWall {
	font-family: Arial;
	margin-top: 10px;
	margin-left: 10px;
	width: 330px;
	height: 500px;
	overflow: scroll;
}

#msgWallButton {
	margin-top: 5px;
	margin-left: 10px;
}

#targetChangeInput {
	border: 1px;
	margin-left: 6px;
	width: 150px;
}

#targetChangeButton {
	border-top: 1px solid #74bbe8;
	background: #86c6f4;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #ffffff;
	height: 23px;
	width: 30px;
	font-size: 14px;
	font-family: Arial;
	text-decoration: none;
	vertical-align: middle;
}

#postMsgInput {
	margin-left: 10px;
	margin-top: 10px;
	width: 175px;
	height: 330px;
	resize: none;
	border: 1px;
	
}

#postMsgButton {
	margin-left: 10px;	
}

#Home {
	display: none;
	background-color: rgba(224,242,255,0.39);

}

#Account {
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	color:rgba(0,0,0,0.66);
	font-family: Arial;
	background-color: rgba(224,242,255,0.39);
}

#accountInfoDiv {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#logoutButton {
	margin-left: 2px;
	margin-top: 12px;
	
}




p.UserinfoContent {
	font-size: 100%;
	margin-left: 5px;
	margin-top: -30px;
}


#browseHomepage {
	background-color: #FFFFFF;
	margin-top: 40px;
	margin-left: 50px;
	width: 470px;
	height: 300px;
	overflow: scroll;
}


#targetInputDiv {
	width: 100px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}


/*
	==================
	==================
 */